<?xml version="1.0"?><!--
  ~ Copyright (C) Licentia, Unipessoal LDA
  ~
  ~ NOTICE OF LICENSE
  ~
  ~  This source file is subject to the EULA
  ~  that is bundled with this package in the file LICENSE.txt.
  ~  It is also available through the world-wide-web at this URL:
  ~  https://www.greenflyingpanda.com/panda-license.txt
  ~
  ~  @title      Licentia Panda - Magento® Sales Automation Extension
  ~  @package    Licentia
  ~  @author     Bento Vilas Boas <bento@licentia.pt>
  ~  @copyright  Copyright (c) Licentia - https://licentia.pt
  ~  @license    https://www.greenflyingpanda.com/panda-license.txt
  ~
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">


    <preference for="Licentia\Forms\Api\FormsRepositoryInterface" type="Licentia\Forms\Model\FormsRepository"/>
    <preference for="Licentia\Forms\Api\Data\FormsInterface" type="Licentia\Forms\Model\Forms"/>
    <preference for="Licentia\Forms\Api\Data\FormsSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <preference for="Licentia\Forms\Api\FormEntriesRepositoryInterface" type="Licentia\Forms\Model\FormEntriesRepository"/>
    <preference for="Licentia\Forms\Api\Data\FormEntriesInterface" type="Licentia\Forms\Model\FormEntries"/>
    <preference for="Licentia\Forms\Api\Data\FormEntriesSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <preference for="Licentia\Forms\Api\FormElementsRepositoryInterface" type="Licentia\Forms\Model\FormElementsRepository"/>
    <preference for="Licentia\Forms\Api\Data\FormElementsInterface" type="Licentia\Forms\Model\FormElements"/>
    <preference for="Licentia\Forms\Api\Data\FormElementsSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>


    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="panda_forms_listing_data_source" xsi:type="string">Licentia\Forms\Model\ResourceModel\Forms\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

    <type name="Licentia\Forms\Model\ResourceModel\Forms\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">panda_forms</argument>
            <argument name="eventPrefix" xsi:type="string">panda_forms_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">panda_forms_collection</argument>
            <argument name="resourceModel" xsi:type="string">Licentia\Forms\Model\ResourceModel\Forms</argument>
        </arguments>
    </type>
    <virtualType name="pandaFormsGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="pandaFormsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Licentia\Forms\Model\ResourceModel\Forms\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">pandaFormsGridFilterPool</argument>
        </arguments>
    </virtualType>

</config>
